/* Experience.css */

.experience-container {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 300px;
    height: 100vh;
  }
  
  .section-title {
    color: #3498db;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .experience-item {
    margin-bottom: 20px;
  }
  
  h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* Add more styles as needed */
  