/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: top; /* Center content vertically */
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    height: 100vh;
  }
  
  .home-container h2 {
    color: #3498db;
    font-size: 5em;
    margin-bottom: 0.2em; /* Adjust the margin to reduce space */
  }
  
  .home-container p {
    color: #5b5b5b;
    font-size: 1.2em;
    margin-bottom: 1.5em;
  }
  
  .home-container a {
    display: inline-block;
    text-decoration: none;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #3498db; /* Color for social media icons */
    font-size: 30px;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #005183; /* Darker shade for hover effect */
  }
  