/* Skills.css */
.skills-container {
    padding: 20px;
    margin-top: 20px;
    height: 50vh;
  }
  
  .skills-heading {
    color: #3498db;
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .skills-list {
    margin-top: 10px;
  }
  
  .skills-list strong {
    font-weight: bold;
  }
  
  .skills-list p {
    line-height: 1.6;
    color: #555;
  }
  