/* App.css */

.app-container {
  font-family: 'FiraSans', sans-serif;
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  width: 250px;
  height: 100vh;
  background-color: #333;
  padding: 20px;
  position: fixed;
}

.sidebar img {
  width: 120px; /* Adjust the size as needed */
  height: 120px; /* Adjust the size as needed */
  border-radius: 50%;
  margin-bottom: 20px;
}

.sidebar button {
  padding: 10px;
  font-size: 14px;
  border: none;
  background-color: transparent;
  color:#b9b8b8;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar button:hover {
  color: #fff;
}
.sidebar button.active {
  color: #fff;
}

.content {
  padding: 20px;
  flex-grow: 1;
  margin-left: 250px;
  transition: margin-left 0.3s;
}

.sticky .content {
  margin-left: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

.navbar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar h1 {
  margin-top: 10px;
  margin-bottom: 0;
}

/* Add more styles as needed */
